# ignore all the files in the ./bin folder
bin/

# Compiled object files
*.o
*.obj

# Compiled Dynamic Libraries
*.so
*.dll

# Compiled Static Libraries
*.a
*.la
*.lib

# Executables
*.out
*.out
*.app
